.wrapper_select {
  display: flex;
  align-items: center;
  margin: 50px 100px;
}

.wrapper_select .select_list {
  position: relative;
  margin-left: 10px;
}

.wrapper_select .select_list [aria-haspopup="listbox"] {
  padding: 4px 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 18px;
  color: white;
  width: 170px;
  height: 69px;
  display: inline-block;
  position: relative;
  line-height: 1.4;
  background: #901c1c;
  border-color: transparent;
  text-align: left;
}

.wrapper_select .select_list [aria-expanded="true"] {
  padding: 4px 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px 10px 0 0;
  font-size: 18px;
  color: white;
  width: 170px;
  height: 69px;
  display: inline-block;
  position: relative;
  line-height: 1.4;
  background: #901c1c;
  border-color: transparent;
  text-align: left;
}

.wrapper_select .select_list [aria-expanded="false"]:after {
  font-family: "FontAwesome";
  content: "\f078";
  position: absolute;
  right: 8px;
  top: 16.5px;
  font-size: 18px;
  color: white;
  font-weight: 400;
}
.wrapper_select .select_list [aria-expanded="true"]:after {
  font-family: "FontAwesome";
  content: "\f077";
  position: absolute;
  right: 8px;
  top: 16.5px;
  font-size: 18px;
  color: white;
  font-weight: 400;
}

.wrapper_select .select_list [role="listbox"] {
  display: none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: #901c1c;
  color: white;
  overflow: hidden;
  width: 170px;
  position: absolute;
  list-style-type: none;
  z-index: 6;
  border-radius: 0 0 10px 10px;
}

.wrapper_select .select_list [role="listbox"] [role="option"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
  font-weight: 400;
  padding: 4px 8px;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  cursor: default;
  height: 56px;
  max-height: 56px;
  top: 56px;
  border-bottom: 2px solid white;
  font-size: 18px;
}
.wrapper_select .select_list [role="listbox"] [role="option"]:last-child {
  border: none;
}

.wrapper_select .select_list [role="listbox"] [role="option"]:hover {
  background-color: #d3573c;
}
.wrapper_select .select_list [role="listbox"] [role="option"].option-selected {
  background-color: #d3573c;
}
